
// RESPONSIVE 


@media(max-width:1199px ){
	#tsh-slider .tsh-slider-single .tsh-slider-content {	 
	  padding: 0 10%;	  
	}	
	#tsh-slider .tsh-slider-single .tsh-slider-content {	 
	  top: 13%;	  
	}	
}	


@media(max-width:991px ){
	#tsh-menu .navbar-default .navbar-nav li > a {	
		font-size: 15px;	  
		padding: 25px 10px;	  
	}	
	#tsh-search .tsh-search-area {	 
	  	padding: 30% 0;	  
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content h2 {
	  	font-size: 35px;
		line-height: 65px;
		margin-bottom: 0;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-img {	 
	  	height: 400px;	  
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content a {
	  	font-size: 15px;
		margin-top: 5px;
		padding: 5px 15px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content p {
	  font-size: 16px;	 
	  line-height: 1.5;
	}
	#tsh-service .tsh-service-area .tsh-service-single h3 {
	  font-size: 20px;
	}
	#tsh-about-us {	 
	  padding: 60px 0;	  
	}
	#tsh-about-us .tsh-about-us-area .tsh-about-us-right {	 
	  margin-top: 30px;	  
	}
	#tsh-abtus-counter {	 
	  background-size: 100% 100%;	  
	  padding: 60px 0;	  
	}
	#tsh-abtus-counter .tsh-abtus-counter-area .tsh-abtus-counter-single span {	 
	  font-size: 40px;
	}
	#tsh-abtus-counter .tsh-abtus-counter-area .tsh-abtus-counter-single h4 {	 
	  font-size: 30px;	  
	  margin-top: 15px;
	}
	#about-video-popup span {	 	  	  
	  top: 20px;
	  position: absolute;
	  right: 20px;
	}
	#tsh-features {	 
	  padding: 60px 0;	  
	}
	.tsh-title p {	 
	  padding: 0 20px;
	}
	#tsh-features .tsh-features-area .tsh-features-content {	 
	  margin-top: 30px;	  
	}
	#tsh-latest-courses {	 
	  padding: 60px 0 90px;	  
	}
	#tsh-our-teacher {	 
	  padding: 60px 0;
	  width: 100%;
	}
	#tsh-our-teacher .tsh-our-teacher-area .tsh-our-teacher-content .tsh-our-teacher-single {	 
	  margin-bottom: 30px;
	}
	#tsh-testimonial .tsh-testimonial-area {	  
	  padding: 0 20px;	  
	}
	#tsh-testimonial .tsh-testimonial-area .tsh-testimonial-content .tsh-testimonial-item .tsh-testimonial-quote {	 
	  padding: 60px 15px;	  
	}
	#tsh-testimonial .tsh-testimonial-area .tsh-testimonial-content .tsh-testimonial-item .tsh-testimonial-quote blockquote::before {	 
	  left: 0;	
	}
	#tsh-from-blog {	 
	  padding: 60px 0;	  
	}
	#tsh-from-blog .tsh-from-blog-area .tsh-from-blog-content {	 
	  margin-top: 30px;	  
	}
	#tsh-from-blog .tsh-from-blog-area .tsh-from-blog-content .tsh-blog-single-item .tsh-blog-meta a {	 
	  letter-spacing: 0;
	  margin-right: 5px;	  
	}
	#tsh-from-blog .tsh-from-blog-area .tsh-from-blog-content .tsh-blog-single-item .tsh-blog-single-img .tsh-blog-caption h3{
	  font-size: 20px;
	}
	#tsh-course-content .tsh-course-content-area .tsh-sidebar {	 
	  margin-top: 30px;	  
	}
	#tsh-search .tsh-search-area .tsh-search-form input[type="search"] {	 
	  font-size: 30px;	  
	}
	#tsh-search .tsh-search-area .tsh-search-close {
	  right: 50px;	  
	}
	#tsh-search .tsh-search-area {
	  padding: 35% 0;
	}
	#tsh-contact .tsh-contact-area .tsh-contact-content .tsh-contact-right {	 
	  margin-top: 50px;	  
	}


	
}


@media(max-width:767px ){

	.navbar-header{
		padding: 10px 0;
	}
	#tsh-menu .navbar-header .navbar-brand {	 
	  padding-top: 10px;	  
	}
	#tsh-search-icon{
		display: none;
	}
	.navbar-toggle {
	  background-color: $theme-color;	  	  
	  border-radius: 0;	  
	}
	.navbar-default .navbar-toggle {
	  border-color: $theme-color;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color: $theme-color;
	}
	#tsh-menu .navbar-default .navbar-nav li > a {	 
	  padding: 15px 20px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content h2 {
	  font-size: 30px;
	  line-height: 60px;	  
	}
	#tsh-abtus-counter {
	  background-position: center center;
	  background-size: cover;	 
	}
	#tsh-abtus-counter .tsh-abtus-counter-area .tsh-abtus-counter-single {
	  border: medium none;	 
	  margin-bottom: 25px;
	}
	#tsh-features .tsh-features-area .tsh-features-content .tsh-single-feature {	 
	  text-align: center;	  
	}
	#tsh-features .tsh-features-area .tsh-features-content .tsh-single-feature h4::after {	 	  
	  display: none;
	}
	#tsh-latest-courses .tsh-latest-courses-area .tsh-latest-courses-content .tsh-latest-course-single .tsh-latest-course-img .tsh-latest-course-imgcaption a {	 
	  font-size: 14px;
	}
	#tsh-latest-courses .tsh-latest-courses-area .tsh-latest-courses-content .tsh-latest-course-single .tsh-latest-course-img .tsh-latest-course-imgcaption span {	 
	  font-size: 14px;
	}
	#tsh-from-blog .tsh-from-blog-area .tsh-from-blog-content .tsh-blog-single-item {	 
	  margin-bottom: 30px;	  
	}
	#tsh-footer .tsh-footer-top .tsh-footer-top-area .tsh-footer-widget {	 
	  margin-bottom: 30px;
	  text-align: center;
	}
	#tsh-footer .tsh-footer-top .tsh-footer-top-area .tsh-footer-widget .tsh-subscribe-form input[type="email"] {	 
	  width: 50%;
	  margin-right: 10px;
	}
	#about-video-popup iframe {	 
	  height: 350px;	  
	  width: 80%;
	}
	#about-video-popup span {
	  position: absolute;
	  right: 30px;
	  top: 30px;
	  margin-right: 0;
	  margin-top: 0;
	}
	#tsh-course-content {	 
	  padding: 50px 0;	  
	}
	#tsh-gallery {	 
	  padding: 50px 0;	  	  
	}	
	#tsh-gallery .tsh-gallery-area .tsh-gallery-content .tsh-gallery-body ul li .tsh-single-gallery .tsh-single-gallery-item .tsh-single-gallery-img {	 
	  height: 320px;	 
	}
	#tsh-contact {	 
	  padding: 50px 0;	  
	}
	#tsh-error {	 
	  padding: 50px 0;	  
	}
	#tsh-error .tsh-error-area h2 {	 
	  font-size: 150px;
	  line-height: 1.5;
	}



	

}

@media(max-width:640px){
	#tsh-header .tsh-header-area .tsh-header-top-left .tsh-top-phone {
	  display: none;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content h2 {
	  font-size: 25px;
	  line-height: 50px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-img {
	  height: 350px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content h4 {
	  letter-spacing: 0;	 
	}
	#tsh-service {	 
	  margin-top: 30px;	  
	}	
	#tsh-service .tsh-service-area .tsh-service-single {	 
	  padding: 20px 5px;
	}
	#tsh-service .tsh-service-area .tsh-service-single h3 {
	  font-size: 16px;
	}	
	#tsh-slider .tsh-slider-single .tsh-slider-img figure img {	 
	  width: auto;
	}
	#tsh-gallery .tsh-gallery-area .tsh-gallery-content .tsh-gallery-top ul li {	 
	  padding: 5px 10px;
	  margin-bottom: 5px;	  
	}

}	


@media(max-width:480px ){
	#tsh-header .tsh-header-area .tsh-header-top-left .tsh-top-email {	 
	  font-size: 12px;
	  margin-top: 3px;
	}
	#tsh-header .tsh-header-area .tsh-header-top-left .tsh-top-email i {
	  margin-right: 0;
	}
	#tsh-header .tsh-header-area .tsh-header-top-right .tsh-top-social-nav li a {	 
	  font-size: 12px;
	  padding: 0 5px;	  
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content h2 {
	  font-size: 18px;
	  line-height: 35px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content h4 {
	  font-size: 15px;	 
	  line-height: 16px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content p {
	  font-size: 14px;
	  line-height: 1.5;	  
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content {
	  padding: 0 2%;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-content {
	  top: 5%;
	}
	#tsh-slider .slick-prev, #tsh-slider .slick-next {	 
	  height: 40px;
	  width: 40px;
	}
	#tsh-slider .tsh-slider-single .tsh-slider-img {
	  height: 270px;
	}
	#tsh-service .tsh-service-area .tsh-service-single {
	  padding: 20px 15px;
	  width: 100%;
	}
	#tsh-service .tsh-service-area .tsh-service-single h3 {
	  font-size: 18px;
	}
	#about-video-popup iframe {
	  height: 300px;
	  margin: 5% auto;
	  width: 80%;
	}	
	#tsh-footer .tsh-footer-top .tsh-footer-top-area .tsh-footer-widget .tsh-subscribe-form input[type="email"] {
	  margin-right: 0;
	  width: 100%;
	}
	.tsh-pagination {	 
	  text-align: center;
	}
	.tsh-pagination .pagination li a {	 
	  font-size: 14px;
	  margin: 0 2px;
	  padding: 5px 12px;	  
	}
	.tsh-blog-single .tsh-blog-single-item .tsh-blog-description h1{
	  font-size: 25px;
	}
	.tsh-blog-single .tsh-blog-single-item .tsh-blog-description h2{
	  font-size: 22px;
	  line-height: 30px;
	}
	.tsh-blog-single .tsh-blog-single-item .tsh-blog-description h3{
	  font-size: 18px;
	  line-height: 24px;	  
	}
	.tsh-blog-single .tsh-blog-single-item .tsh-blog-description h4{
	  font-size: 16px;
	  line-height: 20px;	  
	}
	.tsh-blog-single .tsh-blog-single-item .tsh-blog-social .tsh-news-social-nav li a {	 
	  font-size: 15px;
	  height: 30px;	 
	  line-height: 30px;	  
	  min-width: 30px;	  
	}
	#respond input[type="text"], #respond input[type="email"], #respond input[type="url"] {	 
	  width: 100%;
	}
	#tsh-gallery .tsh-gallery-area .tsh-gallery-content .tsh-gallery-body ul li .tsh-single-gallery .tsh-single-gallery-item .tsh-single-gallery-img {
	  height: 280px;
	}
	#tsh-gallery .tsh-gallery-area .tsh-gallery-content .tsh-gallery-top ul li {
	  margin-bottom: 10px;	 
	}
	#tsh-contact .tsh-contact-area .tsh-contact-content .tsh-contact-right iframe {
	  height: 350px;
	}

	
}


@media(max-width:360px ){	
	#tsh-about-us .tsh-about-us-area .tsh-about-us-left h2 {
	  font-size: 30px;
	  margin-bottom: 10px;	 
	}
	#tsh-testimonial .tsh-testimonial-area .tsh-testimonial-content .tsh-testimonial-item .tsh-testimonial-quote {
	  padding: 40px 15px 80px;
	}
	#tsh-footer .tsh-footer-top {	 
	  padding: 50px 0 10px;	  
	}
	.tsh-pagination .pagination li a {	 	  
	  padding: 5px 8px;
	}
	.tsh-comments-area .comments .commentlist li .news-img {	 
	  margin-right: 0;	  
	}
	.tsh-comments-area .comments .commentlist .children {
	  margin-left: 10px;
	}
	.tsh-blog-single .tsh-blog-single-item .tsh-blog-social .tsh-news-social-nav li a {	 
	  margin-bottom: 10px;
	}
	#tsh-gallery .tsh-gallery-area .tsh-gallery-content .tsh-gallery-body ul li .tsh-single-gallery .tsh-single-gallery-item .tsh-single-gallery-img {
	  height: 220px;
	}
	#tsh-contact .tsh-contact-area .tsh-contact-content .tsh-contact-right iframe {
	  height: 300px;
	}
	#tsh-error .tsh-error-area p {
	  font-size: 18px;
	}
	#tsh-error .tsh-error-area span {
	  font-size: 14px;
	}
	#tsh-error .tsh-error-area h2 {
	  font-size: 100px;	 
	}

	
}


@media(max-width:320px ){
	

}
